
<div class="container mt-5">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <input type="text" class="form-control" formControlName="username" required placeholder="nombre de usuario">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" formControlName="mail" required placeholder="mail">
    </div>
    <div class="form-group">
      <select formControlName="type" name="type" id="type">
        <option value="FoodTrucker">FoodTrucker</option>
        <option value="EventPlanner">EventPlanner</option>
      </select>
    </div>
      <div class="form-group">
          <input type="password" class="form-control" formControlName="password" required placeholder="password: admin123">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Registrar</button>
  </form>
</div>
