<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Panel de Eventos</h1>
    <p class="lead">Aqu&iacute; podr&aacute;s visualizar  un listado de eventos, crear nuevos e incluso
      editar.
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="ml-4">Listado de eventos</h2>
    <button class="btn btn-success ml-3" (click)="showModal()">Nuevo Evento</button>
  </div>
  <div class="mt-3">
    <app-event-list [events]="events" ></app-event-list>
  </div>
</div>

<ng-template #createEvent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear Evento</h4>
  </div>
  <div class="modal-body">
    <app-event-create-form [data]="data" (closeEvent)="closeModal($event)" (submitEvent)="submitForm($event)"></app-event-create-form>
  </div>
</ng-template>
