<div class="container">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Lugar</th>
        <th scope="col">Fecha</th>
        <th scope="col">Editar</th>
        <th scope="col">borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.id}}</td>
        <td>{{event.name}}</td>
        <td>{{event.address}}, {{event.state}}, {{event.province}}</td>
        <td>{{event.dayAndTime | date: 'shortDate'}}</td>
        <td>
          <a (click)="showModal(event)" style="color: cadetblue; cursor: pointer;">Editar</a>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">Borra</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar Evento</h4>
  </div>
  <div class="modal-body">
    <app-event-create-form [data]="data" (closeEvent)="closeModalForm($event)" (submitEvent)="submitForm($event)"></app-event-create-form>
  </div>
</ng-template>

